$primay: #7de591;
$gradient: linear-gradient(120deg, #7de591 0%, #111111 100%);

$backgroundLight: #ffffff;
$backgroundDark: #111111;

$surfaceLight: #f5f4f4;
$surfaceDark: #2c2c2c;

$textColorLight: #636363;
$textColorDark: #828282;

$warn: #b84a62;
$info: #68b0ab;

.light-theme {
  --primary: #{$primay};
  --gradient: #{$gradient};
  --warn: #{$warn};
  --info: #{$info};
  --textPrimary: #{$backgroundDark};
  --textVariant: #{$textColorLight};
  --surface: #{$surfaceLight};
  --background: #{$backgroundLight};
}

.dark-theme {
  --primary: #{$primay};
  --gradient: #{$gradient};
  --warn: #{$warn};
  --info: #{$info};
  --textPrimary: #{$backgroundLight};
  --textVariant: #{$textColorDark};
  --surface: #{$surfaceDark};
  --background: #{$backgroundDark};
}
