$primay: #7de591;
$gradient: linear-gradient(120deg, #7de591 0%, #111111 100%);

$backgroundLight: #ffffff;
$backgroundDark: #111111;

$surfaceLight: #ededed;
$surfaceDark: #2c2c2c;

$textColorLight: #636363;
$textColorDark: #828282;

:root {
  --primary: #{$primay};
  --gradient: #{$gradient};
  --textPrimary: #{$backgroundDark};
  --textVariant: #{$textColorLight};
  --surface: #{$surfaceLight};
}

.dark-theme {
  --primary: #{$primay};
  --gradient: #{$gradient};
  --textPrimary: #{$backgroundLight};
  --textVariant: #{$textColorDark};
  --surface: #{$surfaceDark};
}