@use "@angular/material" as mat;
@include mat.core();

@import "~@angular/material/theming";
@import "./material-palettes";

$my-app-primary: mat-palette($primary-app-palette, 500);
$my-app-accent: mat-palette($accent-app-palette, 500, 900, A100);
$my-app-warn: mat-palette($warn-app-palette);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

.dark-theme-material {
  $angular-dark-theme: mat-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);
  @include angular-material-theme($angular-dark-theme);
}
