$dark-primary-text: #ffffff;
$dark-secondary-text: #828282;

$light-primary-text: #111111;
$light-secondary-text: #636363;

$primary-app-palette: (
  50: #eaf6ea,
  100: #cbe9cb,
  200: #a9daa9,
  300: #86cb86,
  400: #6cbf6c,
  500: #52b452,
  600: #4bad4b,
  700: #41a441,
  800: #389c38,
  900: #288c28,
  A100: #cfffcf,
  A200: #9cff9c,
  A400: #69ff69,
  A700: #4fff4f,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$accent-app-palette: (
  50: #edf6f5,
  100: #d2e7e6,
  200: #b4d8d5,
  300: #95c8c4,
  400: #7fbcb8,
  500: #68b0ab,
  600: #60a9a4,
  700: #55a09a,
  800: #4b9791,
  900: #3a8780,
  A100: #d7fffb,
  A200: #a4fff7,
  A400: #71fff2,
  A700: #58fff0,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$warn-app-palette: (
  50: #f6e9ec,
  100: #eac9d0,
  200: #dca5b1,
  300: #cd8091,
  400: #c3657a,
  500: #b84a62,
  600: #b1435a,
  700: #a83a50,
  800: #a03246,
  900: #912234,
  A100: #ffcfd6,
  A200: #ff9caa,
  A400: #ff697e,
  A700: #ff4f68,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
