.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table,
.mat-paginator {
  background: transparent !important;
}

.mat-dialog-container,
.mat-option {
  background: var(--background) !important;
}

.mat-option.mat-active,
.mat-datepicker-content {
  background: var(--surface) !important;
}

table {
  width: 100%;
  background-color: transparent;
}

mat-paginator {
  background-color: transparent;
}

mat-icon {
  font-size: rem-calc(20);
  color: var(--textVariant);
}

mat-form-field {
  color: var(--textVariant);
  width: 100%;

  mat-label {
    margin-left: rem-calc(5);
  }
}
