$font: "Inter";

html {
  font-family: $font, "Helvetica Neue", sans-serif;
  font-size: rem-calc(16);
}

body {
  color: var(--textPrimary);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
