<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Configurações</h1>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12">
        <div class="setting-tile">
          <p class="mx-4">Ativar modo escuro</p>

          <form [formGroup]="themeForm">
            <mat-slide-toggle color="primary" formControlName="darkMode"
              (change)="toggleTheme()">
            </mat-slide-toggle>
          </form>

        </div>
      </div>
    </div>
  </div>
</main>
