<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Painel</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="transaction-resum-container mt-4">
          <div class="resum-item">
            <span>Entradas</span>
            <strong>{{
              totalIncomingAmount | currency: "BRL":true:"1.2-2"
            }}</strong>
          </div>

          <div class="resum-item">
            <span>Saídas</span>
            <strong>R$ 50</strong>
          </div>

          <div class="resum-item">
            <span>Diferença</span>
            <strong>R$ 150</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
