<div class="container">
  <div class="row pt-5">
    <div class="col-12">
      <app-logo type="light"></app-logo>
    </div>
  </div>

  <div class="row full-height">
    <div class="col-12 col-md-12 col-lg-8 col-xl-8 centralize">
      <div class="illustration-container">
        <img
          src="assets/payment.svg"
          alt="Ilustração de um homem de pele escura segurando um cartão de
          crédito na cor verde"
          />
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-4 col-xl-4 centralize">
      <main>
        <div class="greeting">
          <h1 class="app-text-head">Boas vindas!</h1>
          <p class="app-text-muted">
            Aqui você poderá fazer o acompanhamento de toda a sua vida
            financeira de forma simples e muito mais :)
          </p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="exemplo@email.com"
              name="email"
              formControlName="email"
              />
            <mat-icon matPrefix>mail_outline</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input
              [type]="hideText ? 'password' : 'text'"
              matInput
              placeholder="Digite sua senha"
              name="password"
              formControlName="password"
              />

            <mat-icon matPrefix>lock_outline</mat-icon>
            <button mat-icon-button matSuffix (click)="togleInputVisibility()"
              type="button">
              <mat-icon>{{
                hideText ? "visibility_off" : "visibility"
                }}</mat-icon>
            </button>
          </mat-form-field>

          <app-loading-button *ngIf="pageState == PageStateType.loading">
          </app-loading-button>

          <app-button
            *ngIf="pageState != PageStateType.loading"
            label="Entrar"
            (onClickedEvent)="login()"
            [disabled]="loginForm.invalid">
          </app-button>
        </form>
      </main>
    </div>
  </div>
</div>
