@import "../../../../styles/rem-calc";

.centralize {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-height {
  height: 85vh;
}

.surface {
  background-color: var(--surface);
}

.illustration-container {
  display: flex;
  justify-content: center;

  padding: rem-calc(0 32);

  img {
    max-width: 100%;
    width: rem-calc(520);
  }
}

main {
  form {
    margin-top: rem-calc(65);
    display: flex;
    flex-direction: column;
  }
}
