@import "../../../../styles/rem-calc";

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
  background-color: transparent;
}

mat-paginator {
  background-color: transparent;
}

.transaction-type {
  display: flex;
  align-items: center;

  mat-icon {
    font-size: rem-calc(15);
    color: var(--textVariant);

    padding-top: rem-calc(5);
  }
}

mat-icon {
  font-size: rem-calc(20);
  color: var(--textVariant);
}

.edit:hover {
  color: var(--info);
  transition: color 0.5s ease;
}

.delete:hover {
  color: var(--warn);
  transition: color 0.5s ease;
}
